<!DOCTYPE html>
<html lang="es">

<head>
    <%- include("./partials/head.ejs") %>
</head>

<body>
    <header>
        <%- include("./partials/header.ejs") %>
        <%- include("./partials/nav.ejs") %>
    </header>
    <main>
        <div class="grid">
            <div class="left"></div>
            <div class="center">
                <h2>All Blogs <hr></h2>
                <% if (blogs.length > 0) { %>
                <% blogs.forEach(blog => { %>
                <div class="blog">
                    <h3 class="title"><%= blog.title %></h3>
                    <ul>
                        <li><%= blog.snippet %></li>
                        <li><%= blog.body %></li>
                    </ul>
                </div>

                <% }) %>
                <% } else { %>
                <p>There are no blogs to display...</p>
                <% } %>
            </div>
            <div class="right"></div>
        </div>
    </main>
    <footer>
        <%- include("./partials/footer.ejs") %>
    </footer>
</body>

</html>